* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(128, 0, 128, 0.753), rgba(0, 0, 255, 0.575));
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 500px;
    width: 330px;
    background: rgba(92, 28, 196, 0.874);
    border-radius: 10px;
    padding: 7px;
    box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.904);

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    width: 285px;
    text-align: end;
    margin-bottom: 20px;
    overflow: hidden;
    font-weight: bold;
}

.btn-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
}

.btn-area>div {
    background: rgba(233, 157, 17, 0.849);
    padding: 19px;
    border-radius: 10px;
    box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.904);
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* z-index: 1; */
}

.btn-area>div:hover {
    background: rgba(171, 224, 115, 0.849);
}

.btn-zero {
    grid-column: 2/4;
}

.btn-ans {
    grid-row: 4/6;
    grid-column: 4/5;
}

.title {
    margin-bottom: 25px;
}


.circle {
    background: radial-gradient(50% 50% at 50% 50%,
            #f7f5f7 0%,
            rgba(144, 201, 69, 0.76) 0.01%,
            rgba(24, 167, 69, 0.74) 26.04%,
            rgba(5, 239, 56, 0.76) 63.54%,
            rgba(234, 232, 232, 0.83) 100%);
    border-radius: 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    /* top: -250px; */
    /* left: -50px; */
    left: calc(50% - 210px);

    bottom: calc(50% - 330px);
    /* bottom: -35px; */
    /* z-index: -1; */
}


.prank {
    color: red;
    animation-name: bounce 1s ease-in;
}

@keyframes bounce {
    0% {
        transform: translateX(10px);
    }

    20% {
        transform: translateX(-10px);
        color: red;
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(-10px);
        color: green;
    }

    100% {
        transform: translateX(-10px);
    }
}